# Compiled class file
*.class

# Maven target directories
target/
**/target/

# Node modules & production dist
node_modules/
**/node_modules/
dist/
**/dist/

# Log file
*.log

# Environment variables
.env.local
.env

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
